<div class="download">
	<div class='download-header'>
		<h1> Welcome to Most-Wanted Commnunity! </h1>
		<p> make friends, share experiences, and enjoy the gifts we prepare for you</p>
		<hr>
	</div>

	<div class='row text-center download-gallery' ng-controller='downloadCtrl'>
		<div class='col-md-4' ng-repeat='img in imgs'>
			<img ng-src='{{ img.url }}'/>
			<p>{{ img.name }}</p>
			<button class='btn btn-outline-primary btn-block' ng-click='showDetails(img.id)'>Details</button>
		</div>
	</div>
</div>

<footer><hr></footer>
