<div class="row login">

	<div class="col-md-12 login-icon">
		<img ng-src="assets/img/mw-login-title.png"/>
	</div>

	<div class="col-md-4 login-form">
		<div>
			<hr><br>

			<form>
			<p>Username</p>
			<input class="form-control" type="text" placeholder="username" ng-model="username" required="required">
			<br>
			<p>Password</p>
                        <input class="form-control" type="password" placeholder="password" ng-model="password" required="required">
			<br><br>

			<div ng-controller="loginCtrl">
				<div class="alert alert-danger" ng-show="showFailAlert">
					<button type="button" class="close" data-ng-click="switchBool('showFailAlert')">x</button>
					<strong>Error:</strong> {{ failTextAlert }}
				</div>
			</div>

			<button type="button" class="btn btn-outline-info btn-block" ng-click="login()">Log In</button>

			<br>
	
			<a href="#/signup">Not a member? Sign Up!</a>
			</form>
		</div>
	</div>

	<div class="col-md-8 login-image">
			<img class="img-responsive" src="../assets/img/mw-login.png" />

	</div>
		
</div>

<footer>
	<div class="login-footer">
		<hr>
		<p>Developed by Jun Hu<p>
		<p>Email: junhu.acl@gmail.com</p>
	</div>
</footer>

