<div class="row login">

	<div class="col-md-12">
		<img class="img-responsive lg-title" ng-src="assets/img/mw-login-title.png"/>
	</div>

	<div class="col-md-4">
		<hr><br>

		<form name="lgForm" ng-submit="login()" ng-controller="loginCtrl" novalidate>
			<label for="username">Username</label>
			<input name="username" id="username" class="form-control" type="text" placeholder="username" ng-model="user.username" required>
			<div class="alert alert-warning" ng-messages="lgForm.username.$error" ng-show="lgForm.$submitted && lgForm.username.$invalid">
				<div ng-message="required">Username Cannot Be Empty!</div>
			</div>
			<br>

			<label for="password">Password</label>
			<input name="password" id="password" class="form-control" type="password" placeholder="password" ng-model="user.password" required>
			<div class="alert alert-warning" ng-messages="lgForm.password.$error" ng-show="lgForm.$submitted && lgForm.password.$invalid">
				<div ng-message="required">Password Cannot Be Empty!</div>
			</div>

			<div class="alert alert-danger" ng-show="showFail">
				<button type="button" class="close" ng-click="switchBool('showFail')">x</button>
				<strong>Error:</strong> Invalid username or password!
			</div>

			<input type="submit" class="btn btn-outline-info btn-block" value='Log In'>
	
		</form>

		<a href="#/signup">Not a member? Sign Up!</a>
	</div>

	<div class="col-md-8">
			<img class="img-responsive lg-background" ng-src="assets/img/mw-login.png" />

	</div>
		
</div>

<footer class="lg-footer">
	<hr>
	<p>Developed by Jun Hu<p>
	<p>Email: junhu.acl@gmail.com</p>
</footer>

