body {
	min-height: 500px;
	padding-top: 80px;
	background: url(assets/img/mw-home-bg.jpg) no-repeat 0px 0px; 
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

small {
	font-size: 0.95em;
}

footer {
	padding-top: 50px;
	text-align: center;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
}

footer hr {
	width: 70%;
	padding-bottom: 25px;
	margin: 0 auto;
}

footer .login-footer {
	padding-top: 50px;
}

footer .signup-footer {
	padding-top: 30px;
}

.container {
	min-width: 75%;
}

.home .col-md-12 img {
	width: 65%;
	margin-top: 20px;
}

.home .col-md-12 a img {
	width: 35%;
	margin-top: 40px;
}

.home .col-md-4 img {
	width: 100%;
	margin-top: 50px;
}

.about {
	width: 90%;
	margin: 0 auto;
}

.about .about-detail {
	margin: 0 auto;
}

.about .about-detail h3 {
	margin: 30px 0 20px 0;
}

.about .about-detail a img{
	width: 80%;
}

.about button {
	width: 70%;
	margin: 0 auto;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
}

.login {
	margin-top: 80px;
}

.login .login-icon img {
	width: 35%;
	margin: 0 0 -10px -20px;
}

.login .login-form p {
	margin-bottom: 1px;
}

.login .login-form a {
	color: #428bca;
}

.login .login-form .btn {
	width: 30%;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
}

.login .login-image img {
	width: 100%;
}

.signup .signup-icon img {
	width: 50%;
	margin: 60px 0 20px 0;
}

.signup .signup-form a {
	color: #428bca;
}

.signup .signup-form .btn {
        -webkit-transition: .5s ease-in;
        -moz-transition: .5s ease-in;
        -ms-transition: .5s ease-in;
        -o-transition: .5s ease-in;
        transition: .5s ease-in;
}

.profile {
	margin-top: 60px;
}

.profile hr {
	width: 70%;
	margin: 10px auto;
}

.profile .profile-header img {
	width: 120px;
	height: 120px;
	border-radius: 120px;
}

.profile .profile-header h4 {
	margin: 20px 0 10px 0;
}

.profile .profile p {
	margin-bottom: 20px;
}

.profile .profile-form1 {
	width: 70%;
	margin: 10px auto;
}

.profile .profile-form2 {
	width: 70%;
	margin: -20px auto;
}

.profile .profile-form3 {
	width: 70%;
	margin: 0 auto;
}

.profile .profile-form-left td {
	height: 55px;
}

.profile .profile-form-right form{
	margin: 0 auto;
}

.profile .profile-form-right select, .profile .profile-form-right input {
	margin: -3px 0 -3px 0;
}

.profile .profile-join {
	margin: 1px;
}

.channel {
	width: 85%;
	margin: 50px auto;
}

.channel img {
	width: 100%;
}

.channel .channel-left {
	margin-top: 40px;
}

.channel .channel-avatar {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	margin-bottom: 15px;
}

.channel .channel-right .channel-mw {
	width: 100%;
	border: 1px solid #333;
	padding: 20px;
	margin: 20px 0 20px 0;
}

.channel .channel-mw h5 {
	font-size: 1.2em;
}

.channel .channel-mw .btn-remove {
	color: #428ba7;
}

.channel .channel-like {
	margin: -10px 10px 0 -10px;
}

.channel .channel-like a {
	color: #bc243c;
}

.channel .channel-dislike {
	margin: -10px 0 0 10px;
}

.channel .channel-dislike a {
	color: #2e4da7;
}

.channel .channel-comment {
	margin: -10px 0 0 40px;
}

.channel .channel-comment a {
	color: #424242;
}

.channel .channel-comment-bg{
	background-color: rgba(0, 0, 0, 0.05);
}

.channel .channel-comment-content p {
	display: table-cell;
	vertical-align: middle;
	font-size: 1em;
	padding: 10px 0 10px 5px;
}

.channel .channel-comment-content p span {
	color: #2e4da7;
}

.channel .channel-comment-content a {
	color: #428b7a;
	margin-top: 6px;
}

.download .download-header {
	padding: 3em 1.5em;
	text-align: center;
}

.download .download-header hr {
	margin: 30px auto;
	width: 80%;
}

.download .download-gallery{
	width: 85%;
	margin: 0 auto;
}

.download .download-gallery img {
	width: 100%;
}

.download .download-gallery button {
	width: 50%;
	margin: 0 auto;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
}

.download-detail {
	width: 85%;
	margin: 0 auto;
}

.download-detail .download-detail-title {
	margin: 50px 0 -70px 0;
}

.download-detail .download-detail-table {
	margin-bottom: 50px;
}

.download-detail .download-detail-thumb img {
	width: 320px;
	height: 180px;
	margin: 6px;
	border: 4px solid #eee;
	box-shadow: #555 1px 1px 8px 1px;
}

.download-detail .download-detail-btn {
	margin: 40px;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
}
