<div class="row channel" ng-controller="channelCtrl">
	<div class="col-md-3 text-center channel-left">
		<img class="img-responsive channel-avatar" ng-src="assets/img/profile-avatar-sample.jpg" />
		<h5>HELLO, {{ currentUser.username | uppercase }}</h5>
		<hr>

		<div class="row">
			<div class="col-md-4">
				<p>Posts</p>
			</div>
			<div class="col-md-4">
				<p>Comments</p>
			</div>
			<div class="col-md-4">
				<p>Points</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<p>{{ currentUser.posts }}</p>
			</div>
			<div class="col-md-4">
				<p>{{ currentUser.comments }}</p>
			</div>
			<div class="col-md-4">
				<p>{{ currentUser.points }}</p>
			</div>
		</div>

		<br><br>
		<img class="img-responsive channel-sideimg" ng-src="assets/img/channel-side.png" />
	</div>

	<div class="col-md-1"></div>

	<div class="col-md-8 channel-right">
		<div>
			<div class="channel-mw">
				<input class="form-control" type="text" placeholder="Anything you want to share with others?" ng-model="newMw">
				<br>
				<button class="btn btn-outline-info" type="button" ng-click="postMw()">Send</button>
			</div>
			<div ng-repeat="smw in mw" class='channel-mw'>
				<div class="row">
					<h5 class="col-md-11">
						<span><bs-glyphicon icon="envelope"></bs-glyphicon></span>
						&nbsp;{{ smw.text }}
						<br><br>
					</h5>
					<div class="col-md-1 text-right">
						<a class="btn btn-remove" href ng-click="deleteMw(smw)" ng-show="currentUser.username == smw.username"><span><bs-glyphicon icon="remove"></bs-glyphicon></span></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1 channel-like">
						<a class="btn" href ng-click="likeMw(smw)" ng-class="{disabled: inArray(smw)}"><span><bs-glyphicon icon="thumbs-up"></bs-glyphicon><small>&nbsp;&nbsp;likes: {{ smw.likes }}</small></span></a>
					</div>
					<div class="col-md-1 channel-dislike">
						<a class="btn" href ng-click="dislikeMw(smw)" ng-class="{disabled: inArray(smw)}"><span><bs-glyphicon icon="thumbs-down"></bs-glyphicon><small>&nbsp;&nbsp;dislikes: {{ smw.dislikes }}</small></span></a>
					</div>
					<div class="col-md-3 channel-comment">
						<a class="btn" href ng-click="commentMw(smw)"><span><bs-glyphicon icon="comment"></bs-glyphicon><small>&nbsp;&nbsp;comments: {{ smw.comments }}</small></span></a>
					</div>
					<div class="col-md-6 text-right">
						<small>By {{ smw.username }}</small>
						<small>{{ smw.date }} {{ smw.time }}</small>
					</div>
					<div class="col-md-1"></div>
				</div>
				<br>
				<div class="row" ng-show="showComments == smw._id">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<input class="form-control input-lg" type="text" placeholder="@ {{ smw.username }}" ng-model="$parent.replyBody" required="required">
					</div>
					<div class="col-md-2">
						<button class="btn btn-secondary btn-block" ng-click="postComment(smw)">Send</button>
					</div>
				</div>
				<br>
				<div class="row channel-comment-content" ng-repeat="reply in smw.replies">
					<div class="col-md-2"></div>
					<div class="col-md-9 channel-comment-bg">
						<p><span>{{ reply.replyTitle }} :</span> {{ reply.replyBody }}</p>
					</div>
					<div class="col-md-1 channel-comment-bg text-right">
                                                <a class="btn" href ng-click="deleteComment(smw, reply)" ng-show="currentUser.username == reply.replyTitle"><span><bs-glyphicon icon="remove-circle"></bs-glyphicon></span></a>
                                        </div>
					<br>
				</div>
						
			</div>
		</div>
	</div>
		
</div>

<footer><hr></footer>
